<div class="jumbotron center">
<h1>Welcome to my app!</h1>
	<p>
			Click here to <%= link_to "Sign Up", "http://www.gmail.com", class: "btn btn-primary btn-lg" %>
	</p>

<%= link_to "Log In", "http://www.google.com", class: "btn btn-default btn-lg" %>

</div>